.gradle/7.1.1/executionHistory/executionHistory.bin
.gradle/7.1.1/executionHistory/executionHistory.lock
.gradle/7.1.1/fileHashes/fileHashes.bin
.gradle/7.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/libs/Servicios_BD-TAP-1.0-SNAPSHOT.jar
build/tmp/compileJava/previous-compilation-data.bin
